
<div class="container-fluid pl-0 pr-0">
  <div class="row no-gutters">
      <nav class="col-md-3 d-none d-md-block bg-light sidebar scrollable" appMapResize >
        <div class="col-12 bg-primary" style="margin-bottom: 1em">
          <app-searchbox (coordinatesChanged)="coordinatesChangedHandler($event)"></app-searchbox>                
        </div>                   
            <ul class="list-unstyled" 
                *ngFor="let place of places;let i = index" 
                (click)="markerClick(place.id,i)"
                id="{{place.id}}"
                appMarkerClick
            >
              <li><img src="{{place.image}}" alt="{{place.name}}" class="img-fluid py-1" /></li>
              <li><b>{{place.name}}</b></li>
              <li>ADDRESS: {{place.address}}</li>
              <li>RATING: {{place.rating}}</li>
              <li>GOING: -</li>
              <li><button class="btn btn-primary btn-sm" (click)="addToPlace(place)">ADD</button></li>
            </ul>                        
      </nav>     
      <div class="col-md-9 ml-sm-auto col-lg-9">     
        <agm-map 
          [latitude]="coordinates.lat" 
          [longitude]="coordinates.lng"            
          [zoom]="coordinates.mapZoom" appMapResize
          (mapReady)="mapReady($event)"
          [disableDefaultUI]="false"             
          >
          <agm-marker 
            [latitude]="marker.lat" 
            [longitude]="marker.lng" 
            *ngFor="let marker of markers;let j = index"
            (markerClick)="markerClick(marker.id,j)"
            [animation]="marker.animation"
            [iconUrl]="marker.iconUrl"
            >                      
          </agm-marker>
        </agm-map>  
      </div>       
  </div>
</div>

