
<div class="container-fluid">
  <div class="row">
      <nav class="col-md-3 d-none d-md-block bg-light sidebar scrollable" appMapResize >    
               
        <app-searchbox (coordinatesChanged)="coordinatesChangedHandler($event)"></app-searchbox>                
            <ul class="list-unstyled" *ngFor="let place of places" data-spy="scroll" data-offset="0" data-target="#list-example">
              <li id="{{place.id}}"><img src="{{place.image}}" alt="{{place.name}}" class="img-fluid" /></li>
              <li><b>{{place.name}}</b></li>
              <li>ADDRESS: {{place.address}}</li>
              <li>RATING: {{place.rating}}</li>
              <li>GOING: -</li>
            </ul>                        
      </nav>     
      <div class="col-md-9 ml-sm-auto col-lg-9">     
        <agm-map 
          [latitude]="coordinates.lat" 
          [longitude]="coordinates.lng"            
          [zoom]="coordinates.mapZoom" appMapResize
          (mapReady)="mapReady($event)"
          [disableDefaultUI]="false"          
          >
          <agm-marker 
            [latitude]="place.lat" 
            [longitude]="place.lng" 
            *ngFor="let place of places"
            (markerClick)="scroll(place.id)"
            [animation]="place.animation"
            >                      
          </agm-marker>
        </agm-map>  
      </div>       
  </div>
</div>

