<header>  
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
          <i class="fas fa-coffee"></i>&nbsp;
          <strong>Nightlife Coordination App</strong>
      </a>
      <button (click)="openModal(template)" class="btn btn-dark btn-sm">
        Login
      </button>
      
    </div>
  </div> 
</header>
<main class="main">
  <router-outlet></router-outlet>  
</main>
<app-footer></app-footer>

